#page ul{
	margin-left:0px;
}
#page ul li{
	float: left;
	height: 20px;
	padding: 0 10px;
	display: block;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	background-color: #444444;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}
#page ul li a{
	color:#fff;
}

/*禁用按钮*/
#page ul li.disabled{
	color: #666666;
	cursor: default;
}

/*被选中按钮*/
#page ul li.active{
	background-color: #c5d52b;
	color: #323232;
	border: none;
	background-image: none;
	-webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.page1{
	margin-top: 10px;
	float: right;
}
.page1 li{
    float: left;
    height: 20px;
    padding: 0 10px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #444444;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #232323;
    border-left: 1px solid #666666;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}